/* Set height of body and the document to 100% */
body, html 
{
    height: 100%;
    margin: 0;
    font-family: Arial;

}

/* Style tab links */
.tablink 
{
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;

}

.tablink:hover 
{
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent 
{
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;

}

/* Style the div content */
.group {display: flex;
        flex-direction:column;
}


#Articles 
{
    background-color: hsl(240, 100%, 50%);

}

#Authors
{
    background-color: hsl(240, 100%, 37.5%);

}

#Organizations 
{
    background-color: hsl(240, 100%, 25%);

}

#Grants
{
    background-color: hsl(240, 100%, 12.5%)
}